<style>
    .alert {
        position: absolute;
        z-index: 9999999999;
        width: 20rem;
        padding: 10px;
        line-height: 1.8;
        border-radius: 5px;
        cursor: hand;
        cursor: pointer;
        font-weight: 400;
    }

    .alertCheckbox {
        display: none;
    }

    :checked+.alert {
        display: none;
    }

    .alertText {
        display: table;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
    }

    .alertClose {
        float: right;
        padding-top: 5px;
        font-size: 10px;
    }

    .clear {
        clear: both;
    }

    .error {
        background-color: #FEE;
        border: 1px solid #EDD;
        color: #A66;
    }
</style>

{{#each errors}}
<label style="position: absolute;">
    <input type="checkbox" class="alertCheckbox" autocomplete="off" />
    <div class="alert error">
        <span class="alertClose">X</span>
        <span class="alertText">{{text}}
            <br class="clear" /></span>
    </div>
</label>
{{/each}}