<main style="display: flex; justify-content: center; align-items: center;  background-image: url('../images/7032067.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;">
        <form action="" method="POST" class="login-form" style="
        display: flex;
        flex-direction: column;
        gap: 6rem;">

            <div class="title-container">
                <h1>Add a credit card</h1>
            </div>

            <div class="input-container">
                <label class="lbl">Card number</label>
                <input type="text" name="card" required>
            </div>

            <button type="submit" class="btn-login" style="margin-bottom: 4rem;">Save</button>

        </form>
</main>