<main>

    <section class="about">
        <div class="fondo-about"></div>
        <div class="c">
            <h2>About this page</h2>
            <p>This page is created for a course in Diego Portales University in 2023.
            The tecnology used is Express, MongoDB and Handlebars, pure CSS, a little
            bit of Boostrap, and HTML.  
            </p>
        </div>

        <div class="c">
            <div>
                <h3>Load a card number</h3>
                <p>Before transfer, you need to write your card number. This card
                number is not real, and the money in it is ilimitaded.
                </p>
            </div>
            <div>
                <h3>Recharge</h3>
                <p>When you have your card number, you have charge your account with
                money. This is necessary to transfer.
                </p>
            </div>
            <div>
                <h3>Transfer</h3>
                <p>You can use the email for transfer to another user.
                This user has to exist. The user will recieve the money
                and it will be in the historial.
                </p>
            </div>
            <div>
                <h3>Historial</h3>
                <p>You can see your the information of your transfers in order.</p>
            </div>
        </div>

    </section>

    <section class="gallery" id="act">
        <article class="mycard first">
            <div class="first-div-1" style="color: white;">
                ACTUAL ACCOUNT
            </div>
            <div class="first-div-2">
            </div>
            <div class="first-div-3">
                <div class="first-div-4" style="color: white;">
                    NORMAL
                </div>
                <div class="first-div-5">
                    <p style="text-align: justify;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio, assumenda eligendi
                        officiis dolorem, vitae.
                    </p>
                </div>
            </div>
        </article>
        <article class="mycard second">
            <div class="st-div-1" style="color: white;">
                COMING SOON
            </div>
            <div class="st-div-2">
            </div>
            <div class="st-div-3">
                <div class="st-div-4" style="color: white;">
                    PREMIUM
                </div>
                <div class="st-div-5">
                    <p style="text-align: justify;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio, assumenda eligendi
                        officiis dolorem, vitae.
                    </p>
                </div>
            </div>
        </article>

        <article class="mycard third">
            <div class="st-div-1" style="color: white;">
                COMING SOON
            </div>
            <div class="st-div-2">
            </div>
            <div class="st-div-3" style="color: white;">
                <div class="st-div-4" style="color: white;">
                    ADVANCED
                </div>
                <div class="st-div-5">
                    <p style="text-align: justify;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio, assumenda eligendi
                        officiis dolorem, vitae.
                    </p>
                </div>
            </div>
        </article>
    </section>

    <section class="promos">

    </section>

</main>

<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3 style="font-size: 3rem;">Help</h3>
                    <ul>
                        <li><a href="#">How we do transfers</a></li>
                        <li><a href="#">Where you can find us</a></li>
                        <li><a href="#">Is my money safe?</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3 style="font-size: 3rem;">About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Project</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3 style="font-size: 3rem;">Information</h3>
                    <ul>
                        <li><a href="#">Politics</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Laws</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>