<section class="title-container">
    <h1><a>Unity Bank</a></h1>
    <h2>Transfer virtual money</h2>
</section>

	<div class="container">
    <div class="btn"><a href="/login">Log in</a></div>
	<div class="btn"><a href="/register">Sign up</a></div>
    </div>		

<div>
    <p class="p-p">All rights reserved 2023</p>
</div>
